In [20]:
#import the libraries
import pandas as pd

In [ ]:
#download tick data for AAPL stock
data = pd.read_json("https://api.tiingo.com/iex/aapl/prices?resampleFreq=1min&&token=098018a6466abd445dea721074b1ec4eb9deafb5")
data.tail()

In [42]:
data1 = pd.read_json("https://api.tiingo.com/iex/aapl/prices?startDate=2018-08-20&endDate=2018-08-21&resampleFreq=1min&token=098018a6466abd445dea721074b1ec4eb9deafb5")
data1

        close                date     high      low     open
0     217.990 2018-08-20 13:30:00  218.200  217.850  218.105
1     217.570 2018-08-20 13:31:00  217.980  217.400  217.970
2     217.560 2018-08-20 13:32:00  217.625  217.535  217.625
3     217.930 2018-08-20 13:33:00  217.930  217.530  217.540
4     218.180 2018-08-20 13:34:00  218.180  217.850  217.940
5     218.490 2018-08-20 13:35:00  218.490  218.165  218.165
6     218.850 2018-08-20 13:36:00  219.170  218.525  218.525
7     218.940 2018-08-20 13:37:00  219.000  218.800  218.830
8     218.750 2018-08-20 13:38:00  219.040  218.700  218.915
9     218.960 2018-08-20 13:39:00  218.990  218.730  218.730
10    218.810 2018-08-20 13:40:00  218.930  218.800  218.930
11    218.535 2018-08-20 13:41:00  218.870  218.500  218.820
12    218.390 2018-08-20 13:42:00  218.670  218.310  218.535
13    218.290 2018-08-20 13:43:00  218.400  218.260  218.400
14    218.370 2018-08-20 13:44:00  218.550  218.230  218.320
15    218.680 2018-08-20 13:45:00  218.720  218.330  218.350
16    218.430 2018-08-20 13:46:00  218.670  218.430  218.670
17    218.720 2018-08-20 13:47:00  218.550  218.380  218.380
18    218.640 2018-08-20 13:48:00  218.760  218.650  218.690
19    218.645 2018-08-20 13:49:00  218.765  218.620  218.725
20    218.350 2018-08-20 13:50:00  218.580  218.320  218.580
21    218.190 2018-08-20 13:51:00  218.390  218.200  218.355
22    218.020 2018-08-20 13:52:00  218.175  218.000  218.175
23    217.940 2018-08-20 13:53:00  218.000  217.920  218.000
24    217.660 2018-08-20 13:54:00  217.930  217.570  217.920
25    217.640 2018-08-20 13:55:00  217.720  217.540  217.700
26    217.630 2018-08-20 13:56:00  217.720  217.575  217.615
27    217.420 2018-08-20 13:57:00  217.645  217.320  217.645
28    217.300 2018-08-20 13:58:00  217.420  217.140  217.420
29    217.460 2018-08-20 13:59:00  217.600  217.265  217.265
...       ...                 ...      ...      ...      ...
1801  215.225 2018-08-21 19:31:00  215.240  215.080  215.090
1802  215.330 2018-08-21 19:32:00  215.340  215.220  215.225
1803  215.280 2018-08-21 19:33:00  215.325  215.260  215.320
1804  215.295 2018-08-21 19:34:00  215.310  215.260  215.280
1805  215.360 2018-08-21 19:35:00  215.430  215.325  215.325
1806  215.410 2018-08-21 19:36:00  215.425  215.360  215.360
1807  215.280 2018-08-21 19:37:00  215.395  215.270  215.395
1808  215.210 2018-08-21 19:38:00  215.255  215.170  215.255
1809  215.320 2018-08-21 19:39:00  215.320  215.175  215.220
1810  215.155 2018-08-21 19:40:00  215.325  215.155  215.325
1811  215.260 2018-08-21 19:41:00  215.260  215.130  215.145
1812  215.200 2018-08-21 19:42:00  215.270  215.140  215.250
1813  215.160 2018-08-21 19:43:00  215.255  215.130  215.200
1814  215.140 2018-08-21 19:44:00  215.225  215.140  215.165
1815  215.130 2018-08-21 19:45:00  215.150  214.915  215.140
1816  215.000 2018-08-21 19:46:00  215.150  214.950  215.150
1817  214.930 2018-08-21 19:47:00  215.055  214.930  214.970
1818  214.940 2018-08-21 19:48:00  215.060  214.935  214.970
1819  214.840 2018-08-21 19:49:00  214.920  214.840  214.890
1820  214.870 2018-08-21 19:50:00  214.900  214.680  214.700
1821  214.860 2018-08-21 19:51:00  214.900  214.835  214.870
1822  214.815 2018-08-21 19:52:00  214.910  214.815  214.860
1823  214.895 2018-08-21 19:53:00  214.900  214.820  214.820
1824  214.945 2018-08-21 19:54:00  214.960  214.875  214.925
1825  215.075 2018-08-21 19:55:00  215.100  214.940  214.950
1826  215.087 2018-08-21 19:56:00  215.130  215.060  215.075
1827  215.190 2018-08-21 19:57:00  215.190  215.070  215.090
1828  215.250 2018-08-21 19:58:00  215.250  215.190  215.195
1829  215.120 2018-08-21 19:59:00  215.340  215.110  215.285
1830  215.060 2018-08-21 20:00:00  215.060  215.060  215.060

[1831 rows x 5 columns]

In [44]:
data2 = pd.read_json("https://api.tiingo.com/iex/aapl/prices?startDate=2018-08-22&endDate=2018-08-22&resampleFreq=1min&token=098018a6466abd445dea721074b1ec4eb9deafb5")
data2

       close                date     high      low     open
0    214.940 2018-08-22 13:30:00  214.940  214.170  214.200
1    214.800 2018-08-22 13:31:00  214.850  214.680  214.850
2    214.860 2018-08-22 13:32:00  214.980  214.830  214.830
3    215.310 2018-08-22 13:33:00  215.310  214.820  214.840
4    215.190 2018-08-22 13:34:00  215.310  215.020  215.310
5    215.080 2018-08-22 13:35:00  215.190  214.980  215.190
6    215.160 2018-08-22 13:36:00  215.230  215.090  215.110
7    215.365 2018-08-22 13:37:00  215.410  215.205  215.235
8    215.530 2018-08-22 13:38:00  215.700  215.325  215.465
9    215.320 2018-08-22 13:39:00  215.525  215.285  215.525
10   215.225 2018-08-22 13:40:00  215.365  215.225  215.335
11   215.315 2018-08-22 13:41:00  215.360  215.280  215.305
12   215.270 2018-08-22 13:42:00  215.345  215.225  215.270
13   214.915 2018-08-22 13:43:00  215.240  214.915  215.240
14   214.655 2018-08-22 13:44:00  214.915  214.640  214.900
15   214.625 2018-08-22 13:45:00  214.730  214.530  214.655
16   214.810 2018-08-22 13:46:00  214.825  214.630  214.630
17   214.940 2018-08-22 13:47:00  214.975  214.715  214.810
18   214.940 2018-08-22 13:48:00  214.990  214.925  214.960
19   214.740 2018-08-22 13:49:00  214.990  214.725  214.940
20   214.730 2018-08-22 13:50:00  214.840  214.620  214.735
21   214.815 2018-08-22 13:51:00  214.850  214.715  214.800
22   214.550 2018-08-22 13:52:00  214.780  214.550  214.780
23   214.470 2018-08-22 13:53:00  214.560  214.430  214.540
24   214.515 2018-08-22 13:54:00  214.580  214.380  214.440
25   214.650 2018-08-22 13:55:00  214.650  214.270  214.515
26   214.445 2018-08-22 13:56:00  214.670  214.420  214.640
27   214.390 2018-08-22 13:57:00  214.520  214.390  214.460
28   214.305 2018-08-22 13:58:00  214.415  214.270  214.400
29   214.250 2018-08-22 13:59:00  214.340  214.210  214.315
..       ...                 ...      ...      ...      ...
361  215.255 2018-08-22 19:31:00  215.290  215.255  215.260
362  215.360 2018-08-22 19:32:00  215.360  215.250  215.265
363  215.370 2018-08-22 19:33:00  215.440  215.310  215.360
364  215.440 2018-08-22 19:34:00  215.445  215.355  215.400
365  215.470 2018-08-22 19:35:00  215.485  215.385  215.440
366  215.530 2018-08-22 19:36:00  215.580  215.485  215.490
367  215.575 2018-08-22 19:37:00  215.580  215.520  215.520
368  215.590 2018-08-22 19:38:00  215.595  215.575  215.575
369  215.530 2018-08-22 19:39:00  215.625  215.530  215.590
370  215.495 2018-08-22 19:40:00  215.570  215.475  215.520
371  215.580 2018-08-22 19:41:00  215.580  215.480  215.480
372  215.575 2018-08-22 19:42:00  215.590  215.530  215.550
373  215.550 2018-08-22 19:43:00  215.590  215.530  215.530
374  215.375 2018-08-22 19:44:00  215.585  215.375  215.550
375  215.355 2018-08-22 19:45:00  215.410  215.350  215.410
376  215.375 2018-08-22 19:46:00  215.390  215.345  215.350
377  215.320 2018-08-22 19:47:00  215.420  215.295  215.380
378  215.390 2018-08-22 19:48:00  215.410  215.325  215.325
379  215.330 2018-08-22 19:49:00  215.390  215.290  215.390
380  215.210 2018-08-22 19:50:00  215.310  215.070  215.100
381  215.160 2018-08-22 19:51:00  215.230  215.140  215.210
382  215.180 2018-08-22 19:52:00  215.190  215.150  215.190
383  215.105 2018-08-22 19:53:00  215.200  215.080  215.170
384  215.170 2018-08-22 19:54:00  215.180  215.075  215.100
385  215.185 2018-08-22 19:55:00  215.320  215.150  215.160
386  215.210 2018-08-22 19:56:00  215.270  215.140  215.150
387  215.200 2018-08-22 19:57:00  215.280  215.190  215.200
388  215.150 2018-08-22 19:58:00  215.200  215.105  215.170
389  215.120 2018-08-22 19:59:00  215.250  215.120  215.200
390  215.050 2018-08-22 20:00:00  215.050  215.050  215.050

[391 rows x 5 columns]